# .editorconfig
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Se você usa quebra de linha do Markdown com 2 espaços, evite removê-los.
trim_trailing_whitespace = false
